ALLOWED_HOSTS="http://localhost:8080, http://localhost:8080, localhost, http://backend:8000, backend"
CORS_ALLOWED_ORIGINS="http://localhost:8080"
CSRF_TRUSTED_ORIGINS="http://localhost:8080"
FRONTEND_url="localhost:3000"


DEBUG="True"

REDIS_URL="redis://redis:6379/"
REDIS_PORT="6379"

DEFAULT_FROM_EMAIL="""
EMAIL_PASSWORD=""

MQTT_BROKER_HOST="mqtt_broker"
MQTT_PORT="1883"
MQTT_USER="locauser"
MQTT_PASSWORD="passwordlocal"


POSTGRES_DB="cottage_db"
POSTGRES_USER="user_admin"
POSTGRES_PASSWORD="your_secure_password_local"
DB_HOST="db"
DB_PORT="5432"

SECRET_KEY="your_django_secret_key_local"


STRIPE_BASIC_PRICEID=""
STRIPE_BASIC_PRODID=""
STRIPE_CANCEL_URL=""
STRIPE_PREMIUM_PRICEID=""
STRIPE_PREMIUM_PRODID=""
STRIPE_REDIRECT="/"
STRIPE_SECRET_KEY=""
STRIPE_STANDARD_PRICEID=""
STRIPE_STANDARD_PRODID=""
STRIPE_WEBHOOK_SECRET=""
